<!DOCTYPE html>

<html>
  <body>
<head>
  <a href="/"><img class="mb-6"   id="banniere" src="/static/Capture.PNG"></a>
  
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
 
 <link href="/static/csss.css" rel="stylesheet" type="text/css" />

<center>

<a href="/Europe"><button class="button is-dark"><span id="p">Europe</button></a>


<a href="/Asie"><button class="button is-dark"><span id="p">Asie</button></a>


<a href="/Afrique"><button class="button is-dark"><span id="p">Afrique</button></a>


<a href="/AmeriqueDuNord"><button class="button is-dark"><span id="p">Amerique du Nord</button></a>


<a href="/AmeriqueDuSud"><button class="button is-dark"><span id="p">Amerique du Sud</button></a>


<a href="/Oceanie"><button class="button is-dark"><span id="p">Océanie</button></a>
<br>
<br>
<br>
<br>
<br>

  <div class="columns">
  <div class="column">
 <figure class="image is-256x256"><img class="mb-1"   src="/static/oce.png">
    </div>

   <div class="column">
<br>
<br>
<br>
<br>
<br>
  <a href="/OceanieFlag"><figure class="128x128"><img class="mb-1"   src="https://cdn-icons-png.flaticon.com/512/3308/3308709.png"></a>
     <div/>

<body>