<html>
  <body>
<head>
  <a href="/"><img class="mb-6"   id="banniere" src="/static/Capture.PNG"></a>
<button class="button is-info is-outlined">Score: {{session["score"]}}</button>


  
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
 <link href="/static/csss.css" rel="stylesheet" type="text/css" />
<button class="button is-dark"><span id="p">Quel est le drapeau de {{pays}} ?ㅤㅤㅤㅤ</button> 

  <button class="button is-info is-outlined">Question {{session["quest"]}}/20</button>
  
<br>
  <div class="columns">
  <div class="column">
      <br>
      
 <a href ="/reponse0"><img src="/static/oceanie/{{drapeaux[0]}}"></a>
<br>
<br>
<br>
<br>
  <a href ="/reponse4"><img src="/static/oceanie/{{drapeaux[4]}}"></a>
<br>
<br>
<br>    
<br>
  <a href ="/reponse5"><img src="/static/oceanie/{{drapeaux[5]}}"></a>
    </div>
  
  <div class="column">
      <br>
  <a href ="/reponse1"><img src="/static/oceanie/{{drapeaux[1]}}"></a>
<br>
<br>
<br>    
<br>
  <a href ="/reponse6"><img src="/static/oceanie/{{drapeaux[6]}}"></a>
<br>
<br>    
<br>
<br>
  <a href ="/reponse7"><img src="/static/oceanie/{{drapeaux[7]}}"></a>
  </div>
    
     
  <div class="column">
      <br>
<a href ="/reponse2"><img src="/static/oceanie/{{drapeaux[2]}}"></a>
<br>
<br>
<br>
<br>
  <a href ="/reponse8"><img src="/static/oceanie/{{drapeaux[8]}}"></a>
<br>
<br>
<br>
<br>
  <a href ="/reponse9"><img src="/static/oceanie/{{drapeaux[9]}}"></a>
  </div>

     
  <div class="column">
      <br>
   <a href ="/reponse3"><img src="/static/oceanie/{{drapeaux[3]}}"></a>
<br>
<br>
<br>
<br>
<a href ="/reponse10"><img src="/static/oceanie/{{drapeaux[10]}}"></a>
<br>
<br>
<br>
<br>
<a href ="/reponse11"><img src="/static/oceanie/{{drapeaux[11]}}"></a>

      
  </div>
</div>
